{% extends 'base.html' %}
{% block content %}

<h1>{{ instrument.nickname}}'s Details</h1>
<div class="row">
    <div class="col s6">
        <div style="width: 400px;" class="card z-depth-5">
            <div class="card-image waves-effect waves-block waves-light">
                    <img width="auto" height="350px" class="activator" src="{{ instrument.img_Url }}">
            </div>
            <div class="card-content deep-purple lighten-4">
                <span class="card-title activator grey-text text-darken-4">{{ instrument.nickname }}<i class="material-symbols-outlined right">more_vert</i></span>
            </div>
            <div class="card-reveal ">
                <span class="card-title">{{ instrument.nickname }}<i class="material-symbols-outlined right">close </i></span>
                <p>Type: {{ instrument.type }}</p>
                <p>Brand: {{ instrument.brand }}</p>
                <p>Model: {{ instrument.model }}</p>
                <p>Color: {{ instrument.color }}</p>
                <p>Manufactured Date: {{ instrument.manf_date }}</p>
            </div>
            <div class="card-action indigo lighten-3">
                <a href="{% url 'instruments_update' instrument.id %}" class="btn">Edit</a>
                <a href="{% url 'instruments_delete' instrument.id %}" class="btn">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="{% url 'add_played' instrument.id %}" method="POST">
            {% csrf_token %}
            {{ played_form.as_p }}
            <input type="submit" class="btn" value="Add Session">
        </form>
        <br>
        {% if instrument.played_for_today %}
          <div class="card-panel teal-text center-align">{{instrument.nickname}} has been rocked today!</div>
        {% else %}
          <div class="card-panel red-text center-align">{{instrument.nickname}} needs some TLC today!</div>
        {% endif %}
    <table class="striped">
        <thead>
        <tr><th>Date</th><th>Played</th></tr>
        </thead>
        <tbody>
        {% for played in instrument.played_set.all %}
            <tr>
            <td>{{played.date}}</td>
            <td>{{played.get_played_display}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ instrument.nickname }}'s Accessories</h3>
    {% if instrument.accessories.count %}
      {% for accessory in instrument.accessories.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A {{ accessory.name }} {{ accessory.type }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'unassoc_accessory' instrument.id accessory.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Accessories</h5>
    {% endif %}
  </div>
  <!-- Available toys will come after this line -->
  <!-- New Markup Below -->
<div class="col s6">
  <h3>Available Accessories</h3>
  {% if accessories.count %}
    {% for accessory in accessories.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A {{ accessory.name }} {{ accessory.type }}
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_accessory' instrument.id accessory.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
    {% endfor %}
  {% else %}
    <h5>{{instrument.nickname}} Already Has All Accessories Available</h5>
  {% endif %}
</div>
</div>

<script>
      const dateEl = document.getElementById('id_date');
  // M is Materialize's global variable
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_played');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}