{% extends 'base.html' %}
{% block content %}


{% for instrument in instruments %}

<section id="index" style="padding-top: 2rem;">
    <div style="max-width: 400px;" class="card z-depth-5">
        <div class="card-image waves-effect waves-block waves-light">
            <a href="{% url 'detail' instrument.id %}">
                <img style="height: 400px; width: 200px" src="{{ instrument.img_Url }}">
            </a>
        </div>
        <div class="card-content deep-purple lighten-4">
            <span class="card-title activator white-text text-darken-4">{{ instrument.nickname }}<i class="material-symbols-outlined right">more_vert</i></span>
            <p><a class="waves-effect waves-light btn" href="{% url 'detail' instrument.id %}">Details Page</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title">{{ instrument.nickname }}<i class="material-symbols-outlined right">close </i></span>
            <p>Type: {{ instrument.type }}</p>
            <p>Brand: {{ instrument.brand }}</p>
            <p>Model: {{ instrument.model }}</p>
            <p>Color: {{ instrument.color }}</p>
            <p>Manufactured Date: {{ instrument.manf_date }}</p>
        </div>
    </div>
    </section>

{% endfor %}

{% endblock %}