{% extends 'base.html' %}
{% block content %}

<h1>Instrument List</h1>

{% for instrument in instruments %}

<section id="index">
    <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
            <img width="400px" height="600px" class="activator" src="{{ instrument.imgURL }}">
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ instrument.nickname }}<i class="material-symbols-outlined right">more_vert</i></span>
            <p><a href="#">Details Page</a></p>
        </div>
        <div class="card-reveal">
            <span class="card-title">{{ instrument.nickname }}<i class="material-symbols-outlined right">close </i></span>
            <p>Type: {{ instrument.type }}</p>
            <p>Brand: {{ instrument.brand }}</p>
            <p>Model: {{ instrument.model }}</p>
            <p>Color: {{ instrument.color }}</p>
            <p>Manufactured Date: {{ instrument.manufactured_date }}</p>
        </div>
        </div>
    </section>

{% endfor %}

{% endblock %}