{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Instrument Collector</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="navbar-fixed">
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">Guitars</a></li>
            <li><a href="#!">Keyboards</a></li>
            <li class="divider"></li>
            <li><a href="#!">Brass</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper indigo lighten-3 z-depth-3">
                <ul>
                    <li><a href="{% url 'home' %}" class="left brand-logo"> Instrument Collector</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}"">About</a></li>
                    <li><a href="{% url 'instruments_create' %}"">Add an Instrument</a></li>
                    <li><a class="dropdown-trigger" href="{% url 'index' %}" data-target="dropdown1">All My Instruments<span class="material-symbols-outlined">menu</span></a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        <div class="fixed-action-btn">
            <br><a class="btn-floating btn-large waves-effect waves-light right indigo"><i class="material-symbols-outlined">add</i></a>
        </div>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer indigo lighten-3">
        <div class="center">Made With &#128153, © 2022 Instrument Collector </div>
    </footer>
</body>

</html>

<script>
    $( document ).ready($(".dropdown-trigger").dropdown())
</script>